/******/
/*Main*/
/******/

main {
	background-color: var(--main-color);
}

/*items*/
.items {
	margin-bottom: 135px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.items .anchor {
	width: 21%;
	text-decoration: none;
	color: unset;
}
.items .anchor:hover article {
	box-shadow: rgba(42, 18, 206, 0.9) 0 0 22px 6px;
}
.items article {
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 25px;
	width: 100%;
	border-radius: 10px;
}
.items article img {
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 10px;
}
.items article h3 {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.items article p {
	text-align: center;
	padding-left: 23px;
	padding-right: 23px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	white-space: normal;
}


/***************/
/*Media queries*/
/***************/

@media (max-width: 991.98px) {
	.items a {
		width: 42%;
	}
}

@media (max-width: 575.98px) { 
	.items a {
		width: 75%;
	}
}